header {
  background-color: #91a5fa;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #91a5fa;
}

.title {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
}

.subtitle {
  color: #777777;
  font-size: 14px;
}

.subheader-1 {
  text-align: center;
}

.subheader-2 {
  text-align: center;
  background-color: #91a5fa;
  padding: 4px;
  margin: 10px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.figure {
  text-align: center;
}

.example-square {
  border: 1px solid red;
  height: 100px;
  width: 100px;
  margin: 0 auto 10px;
}

.formula-description {
  margin-bottom: 20px;
}

.formula-description p {
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background-color: #91a5fa;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #7e92f5;
}

.result {
  margin-top: 10px;
}

.result p {
  margin: 5px 0;
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #777777;
}
